{% extends 'base.html' %}
{% load static %}
{% block header_styles %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}
{% block title %}
    My Blog
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/img.png' %}" alt="SuperUser - auther of this blog">
            <h2>My Blog project</h2>
        </header>
        <p>Hi, My name is Erfan , I'm a python developer </p>
    </section>

    <section id="latest-posts">
        <h2>Latest Posts </h2>
        <ul>
            {% include 'blog/includes/post.html' %}
            {% include 'blog/includes/post.html' %}
            {% include 'blog/includes/post.html' %}
            {% include 'blog/includes/post.html' %}


        </ul>
    </section>
    <section id="about">
        <h2>What I Do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque enim itaque repellat! A aperiam asperiores
            debitis dicta eveniet magnam maiores minima numquam officia perferendis quibusdam totam ut veniam vitae,
            voluptas?</p>
    </section>

{% endblock %}