{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <header>
        <h1><a href="{% url 'index' %}">My Blog</a></h1>
        <nav>
            <a href="{% url 'posts' %}">All Posts</a>
        </nav>
    </header>
    {% block header_styles %}

    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block footer_styles %}{% endblock %}
</body>
</html>